@import '~bulma/bulma.sass';
@import '~bulmaswatch/lux/_variables.scss';
@import '~bulmaswatch/lux/_overrides.scss';

#aside {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  button {
    margin: 10px;
  }
}



#comments-scroll{
  margin-top: 10px;
  overflow-y: scroll;
  max-height: 200px;
}

#comments-scroll div {
  background-color: rgb(174, 174, 179);
  color: white;
  padding: 8px;
  margin: 10px;
}

#add-comment{
  margin: 25px 10px;
}

#delete-song-button{
  margin-left: 10px;
}

#root {
  background-color: #272B30;
}